@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts";

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: linear-gradient(to bottom, lighten($purple, 10%), $purple);
  border: 1px solid $blue;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

  @include desktop {
    @include flex-just-al(space-between, center);
  }

  &__wrapper {
    @include flex-just-al(space-between, center);
    padding: 0.5rem 1rem;
    gap: 1rem;

    @include desktop {
      justify-content: flex-end;
      margin-right: 2rem;
    }
  }

  &__time {
    text-align: center;
    font-family: "Press Start 2P", monospace;
    font-size: 0.7rem;
  }

  &__vol-icon {
    width: 30px;
  }

  &__apps {
    display: none;
    @include desktop {
      display: flex;
      margin-left: 20rem;
      gap: 1rem;
    }
  }

  &__app {
    cursor: pointer;
    &--selected {
      border-bottom: 2px solid black;
    }
  }

  &__search {
    display: none;
    @include desktop {
      display: flex;
      align-items: center;
      width: 200px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }

  &__search-icon {
    width: 30px;
  }
}
